<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.woojanghoon.vaaxtelegram</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/woojanghoon/Documents/Code/vaax-telegram/main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/woojanghoon/Documents/Code/vaax-telegram</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>/Users/woojanghoon/Documents/Code/vaax-telegram/service.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/woojanghoon/Documents/Code/vaax-telegram/service.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>
</dict>
</plist>
